/*記事系の共通レイアウト*/
.article{
	width: 82vw;
	min-height: 90vh;
	margin-top: 32px;
	margin-right: auto;
	margin-left: auto;
	padding: 24px;
    padding-left: 32px;
	border-radius: 16px;
	background-color: var(--surface-color);
	font-weight: 400;
}

/*about, contact等のユニバーサルに使えるレイアウトの差分*/
.universal_layout{
    text-align: center;
}

.universal_layout > h1 {
    position: relative;
    display: inline-block;
    margin-bottom: 2em;
    color: var(--primary-accent-color);
    margin-top: 16px;
}
.universal_layout > h1:before {
    content: '';
    position: absolute;
    bottom: -15px;
    display: inline-block;
    width: 60px;
    height: 5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: var(--primary-accent-color);
    border-radius: 2px;
  }
.universal_layout > div{
    margin-top: 46px;
    padding-right: 32px;
    padding-left: 32px;
    text-align: left;
    color: var(--primary-accent-color);
}

.blog_layout{
    padding-left: 0px;
}

.blog_layout > ul {
    margin-left: 0px;
}
